<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Adele</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阿拉蕾</string>
	</dict>
	<dict>
		<key>name</key>
		<string>斑马</string>
	</dict>
	<dict>
		<key>name</key>
		<string>成龙</string>
	</dict>
	<dict>
		<key>name</key>
		<string>董永</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Eve</string>
	</dict>
	<dict>
		<key>name</key>
		<string>方思</string>
	</dict>
	<dict>
		<key>name</key>
		<string>高晨</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黄河</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Idol</string>
	</dict>
	<dict>
		<key>name</key>
		<string>姜文</string>
	</dict>
	<dict>
		<key>name</key>
		<string>凯文</string>
	</dict>
	<dict>
		<key>name</key>
		<string>龙彪</string>
	</dict>
	<dict>
		<key>name</key>
		<string>玛丽</string>
	</dict>
	<dict>
		<key>name</key>
		<string>农银</string>
	</dict>
	<dict>
		<key>name</key>
		<string>欧文</string>
	</dict>
	<dict>
		<key>name</key>
		<string>彭玉</string>
	</dict>
	<dict>
		<key>name</key>
		<string>秦风</string>
	</dict>
	<dict>
		<key>name</key>
		<string>绒花</string>
	</dict>
	<dict>
		<key>name</key>
		<string>萨摩</string>
	</dict>
	<dict>
		<key>name</key>
		<string>仝卓</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Union</string>
	</dict>
	<dict>
		<key>name</key>
		<string>vivi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王力宏</string>
	</dict>
	<dict>
		<key>name</key>
		<string>星星</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阳豪</string>
	</dict>
	<dict>
		<key>name</key>
		<string>尊龙</string>
	</dict>
</array>
</plist>
