<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   friends.plist
   UITableView高级协议

   Created by Civet on 2019/9/29.
   Copyright (c) 2019 yanghao. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
